<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GROQ_API_KEY</key>
	<string>$(GROQ_API_KEY)</string>
	<key>NSCameraUsageDescription</key>
	<string>VoiceMeal yemeğinizi tanımak için kamerayı kullanır</string>
	<key>NSHealthShareUsageDescription</key>
	<string>VoiceMeal günlük kalori hedefini hesaplamak için yakım verinizi kullanır</string>
</dict>
</plist>
